body { margin: 0px; padding: 0px; font-size: 14px; font-family: "Microsoft YaHei","SimSun"; background: #fff; }
    body > div { margin: auto; }
p, span, ul, li, dt, dd, h1, h2, h3, form, input { margin: 0px; padding: 0px; font-weight: normal; list-style: none; }
img, a img, object { border: none; vertical-align: middle; }
input, select, textarea { color: #333; font-size: 14px; vertical-align: middle; border: 0; background: #fff; }
a:link { color: #333; text-decoration: none; }
a:visited { color: #333; text-decoration: none; }
a:hover { color: #0022a8; text-decoration: none; }
.layout { clear: both; width: 960px; margin: auto; overflow: hidden; }

#header { position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; border-top: 5px solid #0022a8; background: url("../image/header_bg.png"); box-shadow: 0 0 8px rgba(0,0,0,0.2); overflow: hidden; }
    #header .logo { display: block; width: 162px; height: 44px; float: left; text-indent: -9999px;margin-top:15px; background: url("../image/logo.png") no-repeat; }
    #header .slogan { display: block; width: 100px; height: 80px; float: left; background: url("../image/slogan.png") no-repeat; }
    #header .nav { float: right; }
        #header .nav li { width: 120px; float: left; line-height: 80px; }
            #header .nav li a { display: block; font-size: 18px; text-align: center; width: 100px; line-height: 80px; }
                #header .nav li a.curr { color: #fff; background: #0022a8; }

#contenter { width: 100%; overflow: hidden; }

#footer { width: 100%; padding: 10px 0; color: #fff; border-top: 10px solid #666; background: #212121; overflow: hidden; }
    #footer .logo { display: block; width: 160px; height: 44px; float: left;margin-top:15px; background: url("../image/word_logo.png") no-repeat; }
    #footer .copyright { margin: 20px 0; float: right; font-size: 12px; line-height: 20px; }
